.point-to-right:before {
  content: url("../../assets/product-page/pointingLeftLittle.png");
}

.point-to-left:before {
  content: url("../../assets/product-page/pointingRight.png");
}

.machin {
  content: url("../../assets/product-page/add-outline.svg");
}
